$background-color_1: rgba(0, 0, 0, 0.3);
$background-color_2: rgba(0, 0, 0, 0.8);
$background-color_3: rgba(0, 0, 0, 0.6);

.contactanos_titulo {
	margin: 40px;
	text-align: center;
	padding: 20px;
	font-size: 3rem;
}
.contacto {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.5rem;
	line-height: 2.5rem;
	background-color: $background-color_1;
}
#contacto {
	.contacto-articulo {
		text-align: center;
		padding: 20px;
		background-color: $background-color_2;
		font-size: 2rem;
		line-height: 3rem;
	}
}
footer {
	background-color: $background-color_3;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	img {
		display: inline-block;
		margin: 20px;
	}
}
